---
- name: Gather MySQL node variables for cluster.
  set_fact:
    mysql_servers: "\
      {% set _mysql_servers = [] %}\
      {% for host in groups[group_names[-1]] %}\
        {% if mysql_cluster_name is defined %}\
          {% set _mysql_cluster_name = mysql_cluster_name | default('') %}\
          {% if ( _mysql_cluster_name == mysql_cluster_name ) %}\
            {% if _mysql_servers.append(hostvars[host]['ansible_host']) %}{% endif %}\
          {% endif %}\
        {% endif %}\
      {% endfor %}\
      {{ _mysql_servers }}"
  when:
    - mysql_cluster_mode != 'standalone'
    - mysql_servers is not defined

- name: Check if MySQL tablespace exists
  stat:
    path: '{{ item }}'
  loop:
    - '{{ mysql_path }}/mysql/mysql/db.MYD'
  register: result

- name: MySQL operation
  block:
    - name: Include tasks for specific OS
      include: '{{ ansible_os_family }}.yml'
    - name: Straight to getenforce selinux status
      include: 'selinux.yml' 
    - name: Include firewall tasks
      include: 'firewall.yml'
    - name: Include certificate tasks.
      include: 'certificates.yml'
    - name: Include initialization tasks
      include: 'initialization.yml'
    - name: Include user grants tasks
      include: 'user.yml'
    - name: Include group replication tasks
      include: 'group_replication.yml'
      when:
        - mysql_cluster_mode == 'mgr'
        - mysql_servers | length > 1
    - name: Include replication tasks
      include: 'replication.yml'
      when:
        - mysql_cluster_mode == 'replication'
        - mysql_servers | length > 1
    - name: Include business database tasks
      include: 'database.yml'
      when: mysql_bu_dbs_arg is defined
    - name: Include query analyzes tasks
      include: 'analyzes.yml'
    - name: Include backup tasks
      include: 'backup.yml'
    - name: Include prometheus exporter tasks
      include: 'exporter.yml'
      when: exporter_is_install | bool
    - name: Ensure MTA service is enabled
      systemd:
        name: 'postfix.service'
        enabled: 'yes'
        state: 'started'
      when:
        - ansible_distribution_major_version|int > 6
        - mysql_mailto is defined
    - name: Ensure MTA service is enabled
      service:
        name: 'postfix'
        enabled: 'yes'
        state: 'started'
      when:
        - ansible_distribution_major_version|int < 7
        - mysql_mailto is defined
  when: not result.results[0].stat.exists
- name: Registered with HashiCorp Consul
  include: 'register.yml'
  when:
    - exporter_is_install | bool
    - consul_public_register | bool
