[mysql]
# CLIENT #
[client]
port                                   = {{ mysql_port }}
socket                                 = {{ mysql_path }}/mysql/mysql.sock

[mysqld_safe]
# GENERAL #
malloc-lib                             = /usr/lib64/libjemalloc.so.1
thp-setting                            = never

[mysqld]
# PERFORMANCE #
#performance-schema-instrument          = 'memory/%=ON' # https://jira.percona.com/browse/PS-3734
performance_schema                     = 0
userstat                               = 1
thread_statistics                      = 1
query_response_time_stats              = 1

# GENERAL #
server_id                              = {{ 4294967295 | random }}
user                                   = mysql
default_storage_engine                 = {{ mysql_storage_engine }}
character_set_server                   = {{ mysql_character_set }}
socket                                 = {{ mysql_path }}/mysql/mysql.sock
explicit_defaults_for_timestamp        = 1
log_timestamps                         = SYSTEM
bind-address                           = 0.0.0.0
port                                   = {{ mysql_port }}
ignore-db-dir                          = binlog
ignore-db-dir                          = logs
ignore-db-dir                          = innodb
ignore-db-dir                          = mysqlsla_analyzes
sql_mode                               = {{ ','.join(vars['mysql_sql_mode']) }}

# MyISAM #
{% if mysql_storage_engine == 'MyISAM' %}
key_buffer_size                        = {{ (ansible_memtotal_mb * 0.4)|int }}M
{% else %}
key_buffer_size                        = 32M
{% endif %}
myisam-recover-options                 = FORCE,BACKUP

# SAFETY #
#memlock
#large_pages                            = 1
skip_ssl
core-file
skip-name-resolve
local-infile                           = 0
default_password_lifetime              = 0
log-raw                                = OFF
max_prepared_stmt_count                = 262144
max_allowed_packet                     = {{ mysql_max_allowed_packet }}
max_connect_errors                     = 100

# DATA STORAGE #
datadir                                = {{ mysql_path }}/mysql

# BINARY LOGGING #
log_bin                                = {{ mysql_path }}/mysql/binlog/mysql_bin
binlog_cache_size                      = {{ mysql_binlog_cache_size }}
binlog_stmt_cache_size                 = 1048576
binlog_format                          = MIXED
expire_logs_days                       = 15
sync_binlog                            = 100

# CACHES AND LIMITS #
connect_timeout                        = {{ mysql_connect_timeout }}
wait_timeout                           = {{ mysql_wait_timeout }}
interactive_timeout                    = {{ mysql_interactive_timeout }}
tmp_table_size                         = {{ mysql_tmp_table_size }}
max_heap_table_size                    = {{ mysql_max_heap_table_size }}
join_buffer_size                       = {{ mysql_join_buffer_size }}
read_rnd_buffer_size                   = {{ mysql_read_rnd_buffer_size }}
query_cache_type                       = {{ mysql_query_cache_type }}
query_cache_size                       = {{ mysql_query_cache_size }}
{% if ansible_memtotal_mb > 4096 and ansible_memtotal_mb <= 8192 %}
max-connections                        = 210
{% elif ansible_memtotal_mb > 8192 and ansible_memtotal_mb <= 16384 %}
max-connections                        = 310
{% elif ansible_memtotal_mb > 16384 and ansible_memtotal_mb <= 32768 %}
max-connections                        = 510
{% elif ansible_memtotal_mb > 32768 %}
max-connections                        = 610
{% else %}
max-connections                        = 50
{% endif %}
thread_cache_size                      = 50
thread_handling                        = pool-of-threads
thread_pool_max_threads                = 1000
thread_pool_oversubscribe              = 10
open_files_limit                       = {{ mysql_open_files_limit }}
performance_schema_max_table_instances = 512
table_definition_cache                 = {{ mysql_table_definition_cache }}
table_open_cache                       = {{ mysql_table_open_cache }}
table_open_cache_instances             = {{ mysql_table_open_cache_instances }}

# INNODB #
innodb_autoinc_lock_mode               = 2
innodb_buffer_pool_dump_at_shutdown    = 1
innodb_buffer_pool_dump_now            = 1
innodb_buffer_pool_dump_pct            = 100
innodb_buffer_pool_instances           = 8
innodb_buffer_pool_load_at_startup     = 1
innodb_buffer_pool_load_now 	       = 1
{% if ansible_memtotal_mb <= 8192 and mysql_storage_engine == 'InnoDB' %}
innodb_buffer_pool_size                = {{ (ansible_memtotal_mb * 0.585)|int }}M
{% elif ansible_memtotal_mb > 8192 and mysql_storage_engine == 'InnoDB' %}
innodb_buffer_pool_size                = {{ (ansible_memtotal_mb * 0.625)|int }}M
{% else %}
innodb_buffer_pool_size                = 8M
{% endif %}
innodb_data_file_path                  = ibdata1:256M;ibdata2:256M:autoextend
innodb_data_home_dir                   = {{ mysql_path }}/mysql/innodb
innodb_doublewrite                     = 1
innodb_file_per_table                  = 1
innodb_flush_log_at_trx_commit         = 2
innodb_flush_method                    = O_DIRECT
innodb_io_capacity                     = 1000
innodb_log_buffer_size                 = 16M
innodb_log_file_size                   = 4096M
innodb_log_files_in_group              = 2
innodb_log_group_home_dir              = {{ mysql_path }}/mysql/innodb
innodb_max_dirty_pages_pct             = 85
innodb_max_undo_log_size               = 1024M
innodb_page_cleaners                   = 4
innodb_purge_threads                   = 4
innodb_read_io_threads                 = 4
innodb_temp_data_file_path             = ibtemp1:128M;ibtemp2:128M:autoextend:max:1024M
innodb_undo_directory                  = {{ mysql_path }}/mysql/innodb/undolog
innodb_undo_log_truncate               = 1
innodb_undo_tablespaces                = 64
innodb_write_io_threads                = 4

# LOGGING #
log_error                              = {{ mysql_path }}/mysql/logs/mysql_error.log
slow_query_log                         = 1
slow_query_log_file                    = {{ mysql_path }}/mysql/logs/mysql_slow.log
log_queries_not_using_indexes          = {{ mysql_log_queries_not_using_indexes }}
long_query_time                        = {{ mysql_long_query_time }}
log_syslog                             = ON
audit_log_handler                      = SYSLOG
audit_log_format                       = CSV
audit_log_policy                       = QUERIES
audit_log_syslog_ident                 = mysqld
audit_log_include_commands             = "{{ ','.join(vars['mysql_audit_log_commands']) }}"

# PLUGIN #
plugin-load                            = "audit_log=audit_log.so;QUERY_RESPONSE_TIME=query_response_time.so;QUERY_RESPONSE_TIME_AUDIT=query_response_time.so;QUERY_RESPONSE_TIME_READ=query_response_time.so;QUERY_RESPONSE_TIME_WRITE=query_response_time.so"
