[Unit]
Description=Prometheus mysqld_exporter

[Service]
EnvironmentFile=/etc/default/mysqld_exporter
Type=simple
User=nobody
PIDFile=/tmp/mysqld_exporter.pid
ExecStart=/usr/local/percona/pmm-client/mysqld_exporter $OPTIONS

[Install]
WantedBy=multi-user.target
